@charset "utf-8";

/* body */
body {
    background: white;
    width: 100%;
    text-align: center;
}
footer {
    margin-top: 40px;
}

/* navbar */
.navbar {
    background-color: #fff;
}
.navbar-header img {
    margin-top: 5px;
    height: 40px;
}

/* cover */
.cover {
    margin-top: -20px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
    background: url("/images/logo_ofuji.png") center center no-repeat;
    background-size: 20%;
}
.cover .cover-inner {
    height: 100%;
    margin: auto;
    display: table;
}
.cover .cover-inner .cover-contents {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.cover .cover-inner .cover-contents h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.15em;
}
.cover .btn-success {
    background-color: #ed486f;
    border-color: #ed486f;
}

.item img{
    width: 100vw;
}

.worksslider-inside{
    text-align: center;
}



#icon-group img {
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
#icon-group img:hover {
	transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}



/*.contents-img{*/
/*    width:100vw;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*}*/



.caption {
    text-align: center;
    padding-right: 0;
}
.caption .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
}
.caption .text p {
    margin: 0;
    color: white;
    font-size: 160%;
}
.caption:hover .text {
    /*text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
    text-shadow: 3px 2px 0px #000, 
               5px 4px 0px rgba(0,0,0,0.15);
    border: solid 3px white;
    padding: 0.5em 1em;
    font-size: large;
    opacity: 1;
}
.caption:hover img {
    -webkit-filter: brightness(50%);
}

.topimg img{
    margin-top: 50px;
}

.container {
    text-align: center;
}

.text-center{
    position: relative;
}

.text-center p{
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    font-weight: bold; /*太字に*/
    font-family :Quicksand, sans-serif;/*Google Font*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.titletitle{
    font-size: 2.5em;/*サイズ3倍*/
}

/*.concon{*/
/*    padding: 0.1em 1em;*/
/*    margin: 2em 0;*/
/*    border: double 5px #fff;*/
/*}*/

.text-center .login{
    
    position: fixed;
    margin-top: auto;
    top: 57%;
    color: white;
    font-size: 2em;
}

.login .btn{
    color: white;
    background-color: transparent;
}
@media (max-width:480px) { 
    .titletitle{
        font-size: 12px;
    }
    
    .text-center img{
        width: 1000px;
        height: auto;
    }
}

.text-center img{
    -webkit-filter: grayscale(100%);
    width: 100%;
}

.contents-img{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.contents-img img{
    width: 100%;
}

#icon-group{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}